.navbar-app-name{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.navbar-username{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #898989;
}

.actionbar-role{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #C6C6C6;
}

.actionbar-screen-title{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}

.actionbar-updated{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #9B9B9B;
}

.actionbar-button-text{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #609992;
  
}

.communication-header{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}

.communication-chat{
  height: 35%;
}

.communication-comment-user{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}

.communication-comment-text{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.communication-textarea{
  background: #EFF0F7;
  border-radius: 16px;
  height: 130px;
  outline: none;
  border: none;
}

.communication-button-approve{
  background: #609992;
  border-radius: 10px;
  height: 50px;
  border-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}

.div-shadow{
  box-shadow: -4px 0px 4px #F7F7F7;
}

.comparison-border::after{
  content: '';
  height: 27%;
  width: 92%;
  border-right: 1px solid #C4C4C4;
  position: absolute;
  top: 12%;
}

.comparison-containers{
  padding: 5%;
}

.comparison-img{
  object-fit: contain;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body, #root {
  height: 100%;
  min-height: 100%;
  overflow-y: hidden;
  background-color: #F7F7F7
  ;
}